<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc4rv2QOOv80hjzW59HPsKbWjflJcXo24</string>
	<key>GCM_SENDER_ID</key>
	<string>22564027056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NutriFitRowdyhacks</string>
	<key>PROJECT_ID</key>
	<string>nutrifit-d3c1f</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrifit-d3c1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22564027056:ios:b6459549d2ec7a3408d975</string>
	<key>DATABASE_URL</key>
	<string>https://nutrifit-d3c1f-default-rtdb.firebaseio.com</string>
</dict>
</plist>